* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  background: linear-gradient(rgba(230, 105, 9, 0.3960784314), #9128e5);
}

.nav {
  display: flex;
  align-items: center;
}
.nav .nav-list {
  display: flex;
  justify-content: space-around;
  min-width: 20px;
  height: 10vh;
  width: 100%;
  align-items: center;
}
.nav .nav-list .nav-link {
  color: #fff;
  cursor: pointer;
}
.nav .nav-list .nav-link:hover {
  color: black;
}

.main-wrapper {
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
}
.main-wrapper .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-wrapper .main-container h2 {
  color: black;
}

.slider {
  height: 500px;
  background: linear-gradient(#9198e5, #e66465);
  background-size: cover;
  width: 900px;
  position: relative;
}
.slider .arrow {
  position: absolute;
  color: aqua;
  cursor: pointer;
  opacity: 0.7;
}
.slider .arrow:hover {
  opacity: 1;
}
.slider .arrow-left {
  top: 50%;
  left: 0;
}
.slider .arrow-rigth {
  top: 50%;
  right: 0;
}

.player {
  height: 200px;
  background: #e66465;
  width: 500px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  cursor: pointer;
}
.controls div:hover {
  opacity: 0.5;
}

body {
  height: 100vh;
}